<% provide(:title, "About") %>
<div class = "center jumbotron">
	<%= link_to image_tag("Heinrich Woogue.png", alt: "Heinrich Woogue"),
		'http://rubyonrails.org/'%>
	<h1>Hello! My name is Heinrich Von P. Woogue</h1>
	<br>
	<p> I am a Bachelor of Science in Computer Science student 
		at the University of San Carlos.</p>
	<p> I am hoping to graduate this coming March 2017.</p>
	<p> You can contact me <%= link_to "here", contact_path %>.</p>
</div>	