<% provide(:title, "Contact") %>
<div class = "jumbotron">
	<p> Contact me, <b>Heinrich Von P. Woogue</b>, through the following:</p>
	<ol>
		<li class="contactInfos"><b>Gmail:</b> heinwoogue@gmail.com</li>
		<li class="contactInfos"><b>GitHub:</b> heinwoogue</li>
		<li class="contactInfos"><b>Facebook:</b> Heinrich Woogue</li>
		<li class="contactInfos"><b>Cellphone Number:</b> 09335153485</li>
		<li class="contactInfos"><b>Landine Number:</b> 272-7165</li>
	</ol>
</div>	
