<% provide(:title, "Help") %>
<h1>Help</h1>
<h2>This is Heinrich Von P. Woogue's Portfolio App.</h2>
<h2>
	You can click any of the tabs above or you can start 
	<%= link_to "here", about_path %>.
</h2>