<% provide(:title, "Hire Me") %>
<div class = "jumbotron">
	<h3><b>My Technical Skills:</b></h3>
	<ul>
		<li>
			<b>Programming/Markup Languages:</b> C, JAVA, HTML, CSS, JavaScript, JSP, PHP, Ruby,C#, Android Java
		</li>
		<li>
			<b>Databases:</b> MySQL, Google App Engine Datastore
		</li>
		<li>
			<b>Web Libraries and Frameworks:</b> Bootstrap, JQuery, AngularJS, Struts2, Slim3, Ruby on Rails
		</li>
		<li>
			<b>IDE/Platform:</b> J2EE, Eclipse, Netbeans, Android Studio
		</li>
	</ul>
	<hr/>
	<p><u>Below is my offical resume. Check it out!</u></p>
	<%= image_tag("0001.jpg", alt: "Resume: Heinrich Woogue", size: "1000x1500") %>
	<%= image_tag("0002.jpg", alt: "Resume: Heinrich Woogue", size: "1000x1500") %>
	<%= image_tag("0003.jpg", alt: "Resume: Heinrich Woogue", size: "1000x1500") %>
</div>