<div class="center jumbotron">
	<h1>Welcome to my Portfolio App</h1>
	<h2 class="color-inherit">
		Hi! I'm <b>Heinrich Von P. Woogue.</b>
	</h2>
	<h2 class="color-inherit">
		Check out my profile <%= link_to "here", about_path %>.
	</h2>
	<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/'%>
	<h2>
		Made with Ruby on Rails.
	</h2>
	<!--
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	-->
</div>