<% provide(:title, "Thoughts on IT") %>
<div class = "jumbotron">
	<center>
		<%= image_tag("my_thought_on_it.jpg", alt: "Thoughts on IT" , size: "190x290") %>
	</center>
	<h1>Thoughts on IT</h1>
	<h2>By: Heinrich Von P. Woogue</h2>
	<p class="indent text-justify">
		So right now, I am a 4th Year Bachelor of Science in Computer Science student at the Unversity of San Carlos. Now, I wasn't always a Computer Science student. I started of as a Bachelor of Science in Information Technology student. I decided to shift to Computer Science because I wanted the challege of math and algorithms. Not that Information Technology didn't have those, it's just that Computer Science is more geared towards them.
	</p>
	<p class="indent text-justify">
		Anyhow, despite the differences on both courses, they still fall under IT, or sometimes called the software/tech space/industry. I think that IT is awesome as we are now living in a technology driven world. It is safe to say that IT will be staying a while or maybe even forever. Being a student of IT, all I can say is that it is not a difficult course, as many of the topics in IT can just be found on the internet and are usually availale free. The best part about IT for me is that you get to create projects where you can actually see and use the output of your work immediately.
	</p>
</div>