<% provide(:title, "Who Am I") %>
<div class = "jumbotron">
	<h1>Who am I?</h1>
	<p class="indent text-justify">
		Hello! My name is Heinrich Von P. Woogue. I enjoy learning and understanding things, concepts, and ideas. Primarily due to the nature of the college course I took which is Computer Science, I am a programmer. Now I am not knowledgable of every software idea or products out there, but I know enough to know how to know what I do not know. For short, my course has thought me the art of Google searching, so I can pretty much get by as long as I have access to the internet.
	</p>
	<p class="indent text-justify">
		I am also fond of non-tech related things and hobbies. For one, I have interest in the “political drama” happening in the Philippines and the United States. I am also a fan in sports, specifically basketball and professional wrestling. Now being a programmer does take a lot of my time, so how I usually get my fix from sports is by watching the NBA and WWE.
	</p>
	<p class="indent text-justify">
		My goal this year , being my last year in college as a 4th Year Bachelor of Science in Computer Science student at the University of San Carlos, is to graduate this coming April 2017 so I can finally close this chapter in my life. As for goals in the future, well for a start, getting a job would be nice, but the ultimate goal will always be to be happy. :) 
	</p>
</div>