/* footer */
footer.footer{
	background-color: #233c8e;
	border: 1px solid #233c8e;
	color: white;
	a {
		color: white;
		&:hover {
			color: #233c8e;
		}	
	}
}
div#rightFooter{
	float: right;
	padding-right: 15px;
}
div#leftFooter{
	float: left;
	padding-left: 15px;
}