/* header */
header{
	background-color: #233c8e;
	div{
		ul {
			li {
				a{
					color: white;
					&:hover {
						color: #233c8e;
					}	
				}
			}
		}
	}
}

.navbar-nav{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}