<footer class="footer">
	<small>
		<%= link_to "Profile App", root_path %> by <%= link_to "Heinrich Von P. Woogue",about_path %>
	</small>
	&nbsp
	<ul>
		<li><%= link_to "About",about_path %></li>
		<li><%= link_to "Contact", contact_path %></li>
		<li><a href="http://news.railstutorial.org/">News</a></li>
	</ul>
</footer>