<footer class="footer">
	<div id="leftFooter">
		<%= link_to "Portfolio App", root_path %> by <%= link_to "Heinrich Von P. Woogue",about_path %>
	</div>
	&nbsp
	<div id="rightFooter">
		<%= link_to "Help", help_path %>
	</div>
</footer>